* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

h1 {
  font-family: "Black Ops One", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 60px;
  color: darkslateblue;
}

main {
  display: flex;
  justify-content: center;
}

.calc-container {
  width: 400px;
  height: 500px;
  background-color: rgb(40, 33, 87);
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px;
}
